---
import { Image } from "astro:assets";
---
<footer class="bg-dark-blue text-white text-center py-4 mt-16 font-bold">
    <p style="display: inline;">&copy; 2024 Portafolio, Alumno de UNAH - Comayagua. Todos los derechos reservados.
        <img src="/Assets/Finish.png" width="30px" height="30px" style="display: inline; vertical-align: middle;">
     </p>
</footer>